
* {
    font-family: 'MuseoModerno', cursive;
}

.img-fluid {
    border-radius: 8px;
    border-style: solid;
    border-color: #999999;
    text-align: center;
}

body {
    background-image: url("./images/starBg-c3c73537212b80383bcc387563b91637.jpg");
    background-repeat: repeat;
    background-size: auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #d3f0f0;
    text-align: center;
}

h2 {
    text-align: center;
    text-justify: auto;
    font-size: 30px;
    color: #d3f0f0;
    padding: 20px, 10px, 20px, 10px;
}

h3 {
    text-align: center;
    text-justify: auto;
    color: #d3f0f0;
    font-weight: 400;
    margin: 16px 20px 16px 20px;
}

h6 {
    text-align: justify;
    text-justify: auto;
    color: #d3f0f0;
    font-weight: 400;
    margin: 16px 20px 16px 20px;
}

.astrosubtitulo {
    text-align: center;
    font-size: 25px;
    color: #d3f0f0;
}

.toc_list {
    text-align: center;
    font-size: 20px;
    color: #d3f0f0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


footer {
    text-align: bottom;
    color: #d3f0f0;
}

hr {
    font-weight: bold;
    font-size: 0.85rem;
    color: #d3f0f0;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
}

/* Formulario */

.form {
    max-inline-size: 550px;
    margin: auto;
  }

  .form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }

  .form label span {
    color: #DA1414;
  }

  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    margin-block-end: 2em;
    font-family: inherit;
  }

  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }


  .contact {
    margin-block-end: 5em;
    color: #d3f0f0;
  }

  .footer {
    text-align: center;
    color: #d3f0f0;
  }

  #trucazo {
    opacity: 0;
  }

  .form .tag span {
    display: block;
    text-align: center;
    color: #d3f0f0;
  }

  .social-item {
    background: var(--primary);
    display: inline-block;
    inline-size: 44px;
    block-size: 44px;
    text-align: center;
    line-height: 44px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    border: 2px solid var(--black);
    color: #66ccff;
  }

  .social-item + .social-item {
    margin-left: 1em;
    color: #d3f0f0;
  }

  .social-item img {
    vertical-align: middle;
    color: #009999;
  }

  .btn {
    /* font-family: var(--font); */
    border-radius: 90px;
    letter-spacing: 1.25px;
    background: initial;
    block-size: 50px;
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border: 2px solid var(--black);
    font-weight: bold;
    padding: 0 1.5em;
  }
  .btn.full {
    width: 100%;
  }

  .btn.primary {
    background: var(--primary);
    color: #d3f0f0;
  }

  .btn i {
    display: inline-block;
  }
  .btn span {
    vertical-align: middle;
  }
  .btn i img {
    vertical-align: middle;
  }
  
